@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26зч;
  color: #333;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.page-header {
  color: #000;
  background-color: #fff;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 390px;
}
.navigation-logo {
  width: 138px;
  margin-right: 46px;
}
.navigation-user {
  width: 290px;
  margin-left: auto;
}
.navigation-item {
  list-style: none;
}
.navigation-user-item {
  list-style: none;
}
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  text-align: center;
}
.navigation-user-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  text-align: center;
}
.navigation-header-button {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
text-align: center;
color:#fff;
background-color: #756157;
}
.main-container {
  flex-grow: 1;
}
.hero {
  background-image: url("../img/main/hero-background.jpg");
  background-size: 100% auto;
  background-color: #f2f2f2;
}
.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}
.advantages {
  text-align: center;
}
.section-title {
font-family: inherit;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
text-align: center;
color: #000;
padding: 69px;
margin-bottom: 25px;
}
.section-subtitle {
font-family: inherit;
font-weight: 400;
font-size: 22px;
line-height: 118%;
text-align: center;
padding: 69px;
margin-bottom: 69px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  width: 400px;
}
.advantages-item-colored {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-extended {

  background-color: #82b3d3;
}
.advantages-item-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: uppercase;
text-align: center;
color: #000;
}
.advantages-item-description {
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: center;
color: #333;
}
.advantages-item-extended > .advantages-item-title {
  color: #fff;
}
.advantages-item-extended > .advantages-item-description {
  color: #fff;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.features-item {
  width: 400px;
  list-style: none;
  text-align: center;
}
.features-item-colored {
  background-color: rgba(131, 179, 211, 0.12);;
}
.features-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: uppercase;
text-align: center;
color: #000;
}
.features-recommend {
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: center;
color: #333;
}
.search {
  background-color: #fff;
}
.search-button {
  font-family: inherit;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.subscription {
  background-color: #fff;
}
.subscription-colored {
  background-image: url("../img/main/Subscribe-background.png");
 background-size: cover;
 background-repeat: no-repeat;
  background-color: #fff;
}
.subscription-colored > .section-title {
font-weight: 700;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
color: #fff;
}
.subscription-colored > .section-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #fff;
  }
.subscription-button {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  }
  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  .social-list {
    width: 142px;
    margin-right: 41px;
  }
  .social-item {
    list-style: none;
  }
  .phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  width: 720px;
  margin-right: 41px;
  }
  .author-logo {
    width: 115px;
    margin-left: auto;
  }
  .filter-container {
    background-image: url("../img/catalog/filter-background.png");
    background-size: 100% auto;
    background-repeat: repeat;
  }
  .catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: #fff;
  }
  .breadcrumbs-list-item {
    list-style: none;
  }
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  text-decoration: none;
  color: #fff;
}
.catalog-filter-list {
  display: flex;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #fff;
}
.catalog-filter-item {
  list-style: none;
}
.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #fff;
}
.filter-button {
  font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
}
.active-filter-button {
  background-color:#82b3d3;
}
.hotel-catalog {
  background-color: #fff;
}
.catalog-card {
  list-style: none;
}
.catalog-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000;
}
.catalog-card-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: capitalize;
text-decoration: none;
color: #000;
}
.card-description {
font-weight: 400;
font-size: 18px;
line-height: 117%;
color: #333;
}
.card-price {
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: right;
color: #333;
}
.button-detailed {
  font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-decoration: none;
text-align: center;
color: #fff;
background-color:  #756157;
}
.favourite-card {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
  background-color: #82b3d3;
}
.card-rating {
font-weight: 400;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #333;
background-color: #f2f2f2;
}
.favourite-card-selected {
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
  background-color: #7db54f;
}
.pagination-item {
  list-style: none;
}
.pagination-link {
font-weight: 700;
font-size: 20px;
line-height: 180%;
text-transform: uppercase;
text-decoration: none;
text-align: center;
color: #fff;
background-color: #82b3d3;
}
.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
}
