@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26зч;
  color: #333;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-header {
  color: #000;
  background-color: #fff;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-page {
  display: grid;
  width: 507px;
  grid-template-columns: 138px 1fr;
  margin-left: 70px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 390px;
}
.navigation-logo {
  width: 138px;
  margin-right: 46px;
}
.navigation-user {
  width: 290px;
  margin-left: auto;
}
.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}
.navigation-item {
  list-style: none;
}
.navigation-user-item {
  list-style: none;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  text-align: center;
}
.navigation-user-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  text-align: center;
}
.navigation-user .navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}
.navigation-header-button {
display: flex;
justify-content: center;
align-self: center;
width: 160px;
border-radius: 4px;
padding: 8px 34px;
margin-right: 70px;
margin-left: 33px;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color:#fff;
background-color: #756157;
}
.main-container {
  flex-grow: 1;
}
.hero {
  background-image: url("../img/main/hero-background.jpg");
  background-size: 100% auto;
  background-color: #f2f2f2;

}
.hero-welcome-image {
  margin-top: 51px;
  margin-bottom: 82px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}
.advantages {
  padding-top: 69px;
  text-align: center;
}
.section-title {
font-family: inherit;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
text-align: center;
color: #000;
padding-top: 64px;
padding-bottom: 20px;
}
.section-subtitle {
font-family: inherit;
font-weight: 400;
font-size: 22px;
line-height: 118%;
text-align: center;
padding-bottom: 54px;
margin-bottom: 69px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  width: 400px;
}
.advantages-item-colored {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-extended {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}
.advantages-item-extended .advantages-item-description {
  margin-bottom: 0;
}
.advantages-item-extended-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 85px;
  padding-top: 102px;
  padding-bottom: 102px;

}
.advantages-item-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: uppercase;
text-align: center;
color: #000;
padding-top: 112px;
margin-bottom: 62px;
}
.advantages-item-description {
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: center;
color: #333;
margin-bottom: 112px;
}

.advantages-item-extended > .advantages-item-title {
  color: #fff;
}
.advantages-item-extended > .advantages-item-description {
  color: #fff;
}
.features {
  padding: 64px 0;
  background: #fff;
}
.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.features-item {
  padding: 80px 85px;
  width: 400px;
  list-style: none;
  text-align: center;
}
.features-item-colored {
  background-color: rgba(131, 179, 211, 0.12);;
}
.features-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: uppercase;
text-align: center;
color: #000;
}
.features-recommend {
margin: 0;
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: center;
color: #333;
}
.search {
  padding: 96px 304px;
  background-color: #fff;
}
.search-button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 50px;
  /*min-width: 376px;*/
  font-family: inherit;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.subscription {
  padding: 96px 258px 104px;
  background-color: #fff;
}
.subscription-colored {
  background-image: url("../img/main/Subscribe-background.png");
 background-size: cover;
 background-repeat: no-repeat;
  background-color: #fff;
}
.subscription-colored > .section-title {
font-weight: 700;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
color: #fff;
}
.subscription-colored > .section-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #fff;
  }
.subscription-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  }
  .page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding: 40px 70px 30px;
  }
  .social-list {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    width: 142px;
    margin-right: 41px;
  }
  .social-item {
    width: 47px;
    height: 40px;
    list-style: none;
  }
  .phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  width: 720px;
  margin-right: 41px;
  }
  .author-logo {
    width: 115px;
    margin-left: auto;
  }
  .filter-container {
    background-image: url("../img/catalog/filter-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000;
    background-color: #82b3d3;
    padding: 35px 70px 70px;
    /*margin-bottom: 50px;*/
  }
  .catalog-header-title {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
  margin-top: 35px;
  margin-left: 70px;
  margin-bottom: 8px;
  }
  .catalog-header {
    margin-bottom:  40px;
  }
  .breadcrumbs-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 28px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    margin-left: 70px;
   }
  .breadcrumbs-list-item {
    list-style: none;
  }
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  text-decoration: none;
  color: #fff;
}
.hotel-filter {
  display: flex;
  width: 1200px;
}
.filter-groups {
  display: flex;
  width: 1060px;
}
.catalog-filter-groups {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 0;
  margin-right: 70px;
}
.catalog-filter-groups-price {
  display: flex;
  flex-wrap: nowrap;
  width: 300px;
  margin-left: auto;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #fff;
}
.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.catalog-filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}
.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #fff;
}
.filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.filter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
}
.active-filter-button {
  background-color:#82b3d3;
}
.catalog-title {
  padding: 0;
  margin: 0;
}
.catalog-select-group {
  display: flex;
  justify-content: space-between;
}
.catalog-select {
  margin-left: auto;
  width: 292px;
  height: 49px;
}
.catalog-views {
  display: flex;
  margin-left: auto;
}
.hotel-catalog {
  padding: 50px 70px 60px;
  background-color: #fff;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 0;
  padding: 0;
  margin-bottom: 68px;
}
.catalog-card {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  }
  .catalog-card:last-child {
    margin-top: 20px;
  }
.catalog-title {
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000;
}
.catalog-card-title {
font-weight: 700;
font-size: 24px;
line-height: 117%;
text-transform: capitalize;
text-decoration: none;
color: #000;
}
.card-description {
font-weight: 400;
font-size: 18px;
line-height: 117%;
color: #333;
}
.card-price {
font-weight: 400;
font-size: 18px;
line-height: 117%;
text-align: right;
color: #333;
}
.button-detailed {
  font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-decoration: none;
text-align: center;
color: #fff;
background-color:  #756157;
}
.favourite-card {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
  background-color: #82b3d3;
}
.card-rating {
font-weight: 400;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #333;
background-color: #f2f2f2;
}
.favourite-card-selected {
font-weight: 700;
font-size: 16px;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #fff;
  background-color: #7db54f;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;

}
.pagination-item {
  list-style: none;
  width: 60px;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
display: block;
box-sizing: border-box;
width: 60px;
height: 60px;
padding: 11px 25px 13px 24px;
font-weight: 700;
font-size: 20px;
line-height: 180%;
text-transform: uppercase;
text-decoration: none;
text-align: center;
color: #fff;
background-color: #82b3d3;
}
.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
}
